@media screen and (max-width: 615px) {
  .headerlogo {
  width: 115%;
  height: 14%;
  }
}

body, html {
  width: 100%;
}

body {
  font-family: helvetica neue, Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #424242;
}

img, embed, object, video {
  max-width: 100%;

}

header, section {
  box-sizing: border-box;
}

header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

h1 {
  font-weight: 300;
}

h3 {
  font-weight: 300;
}

.headerlogo {
  width: 123px;
  height: 101px;
  margin-left: 10%;
  align-self: flex-end;
  padding-bottom: 10px;
  border-bottom: 5px solid #7d97ad;
}

.headertext {
  width: 100%;
  text-align: right;
  margin-right: 10%;
  padding-bottom: 10px;
  border-bottom: 5px solid #7d97ad;
}

.subtitle {
  margin-top: -17px;
}

.mainimage {
  width: 80%;
  max-width: 100%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 30px;;
  vertical-align: top;
}

.featuredwork {
  display: flex;
  flex-flow: row wrap;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 30px;
  width: 81%;
  max-width: 100%;
  text-align: center;
  justify-content: space-between;
}

.featuredworktext {
  margin-left: 12%;
  text-align:left;
  color: #7d97ad;
}
