@media screen and (max-width: 615px) {
  .headerlogo {
  width: 115%;
  height: 14%;
  }
}

body, html {
  width: 100%;
}

body {
  font-family: helvetica neue, Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #424242;
}

img, embed, object, video {
  max-width: 100%;

}

header, section {
  box-sizing: border-box;
}

header {
  width: 100%;
  display: inline-flex;
  flex-direction: row;
}

h1 {
  font-weight: 300;
}

h3 {
  font-weight: 300;
}

.headerlogo {
  width: 123px;
  height: 101px;
  align-self: flex-end;
  margin-left: 10%;

}

.headertext {
  height: 100%;
  margin: auto;
  text-align: right;
  margin-right: 10%;

}

.mainimage {
  width: 80%;
  max-width: 100%;
  margin-left: 10%;
  margin-right: 10%;
  vertical-align: top;
}
